ads_spend_ingestion.json
{
  "name": "Ads Spend Ingest (via FastAPI)",
  "nodes": [
    {
      "parameters": {
        "path": "ads-ingest",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "source_url",
              "value": "https://drive.google.com/uc?export=download&id=1RXj_3txgmyX2Wyt9ZwM7l4axfi5A6EC-"
            },
            {
              "name": "source_file_name",
              "value": "ads_spend.csv"
            }
          ]
        },
        "options": {
          "keepOnlySet": true
        }
      },
      "id": "2",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/ingest",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"url\":\"={{$json[\"source_url\"]}}\",\"source_file_name\":\"={{$json[\"source_file_name\"]}}\"}"
      },
      "id": "3",
      "name": "Ingest to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "responseMode": "lastNode"
      },
      "id": "4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Ingest to FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest to FastAPI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "ads-spend-ingest-workflow"
}
